@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap');


html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;

  --font-mono: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: calc(1em + 8px);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p, li {
  font-size: 16px;
  line-height: 1.75;
}

small {
  font-size: 14px;
}

.textLink {
  &:hover {
    opacity: 0.8;
  }
}