:root {
    --nyCatIcon: url("../../public/nyCatLogo.png");
  
    --pagePadding: 40px;
    --navHeight: 64px;
  
    // box-shadow;
    --inscribe-right: inset -1px 0 0 var(--color-b4),
                      1px 0 0 var(--color-g2);
  
    --inscribe-left: inset 1px 0 0 var(--color-g2),
                     -1px 0 0 var(--color-b4);
  }
  