.footer {
  margin: 200px 0;
  position: relative;

  header {
    .nyCatIcon {
      width: 120px;
      height: 120px;
      background-image: var(--nyCatIcon);
      background-size: cover;
      margin: 0 auto;
      margin-bottom: 24px;
    }
  
    .brief {
      width: 100%;
      text-align: center;
      font-weight: 500;
    }
  
    .linkList {
      display: flex;
      justify-content: center;
      margin-top: 16px;
  
      li {
        $itemSpacing: 12px;
  
        a {
          display: inline-block;
          line-height: inherit;
        }
  
        &:not(:last-child) {
          margin-right: $itemSpacing;
  
          &::after {
            display: inline-block;
            content: "";
            width: 4px; height: 4px;
            border-radius: 1000px;
            background-color: var(--textColor-main);
            margin-left: $itemSpacing;
            vertical-align: middle;
          }
        }      
      }
    }
  }

  footer {
    $borderColor: var(--color-w7);

    border-top: 1px solid $borderColor;
    margin-top: 32px;
    padding-top: 16px;

    .upper {
      display: flex;
      justify-content: space-between;

      .linkList {
        $itemSpacing: 12px;
  
        display: flex;
  
        li {
          margin-right: $itemSpacing;

          small {
            display: inline;
          }
  
          &:not(:last-child) {
            &::after {
              content: "";
              display: inline-block;
              width: 1px;
              height: 14px;
              background-color: $borderColor;
              vertical-align: middle;
              margin-left: $itemSpacing;
            }
          }
        }
      }

      .downloadLink {
        color: var(--color-leaves);

        small {
          // span {
          //   display: inline-block;
          //   width: 20px;
          //   height: 20px;
          //   background-color: var(--color-leaves);
          //   vertical-align: middle;
          //   transform: translate(0, -0.5px);
          //   margin-right: 8px;
          // }
        }
      }
    }

    .lower {
      margin-top: 8px;
      text-align: center;
      .copyright {
        font-size: 12px;
        line-height: 20px;
        color: var(--textColor-neg);
      }
    }
  }
}