.centeredBox {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}


.chapterMarkArea {
  display: flex;
  width: 1000px;
  .chapterMarkContainer1, .chapterMarkContainer2 {
    position: relative;
    display: inline-block;
    margin-right: 1px;
    overflow: hidden;
    white-space: nowrap;
  }

  .chapterMarkContainer1 {
    width: 500px;
    margin-bottom: 10px;

    @keyframes chapterMotion {
      0% {
        width: 500px;
      }

      50% {
        width: 2px;
      }

      100% {
        width: 500px;
      }
    }

    animation: chapterMotion 10s infinite;
  }

  .chapterMarkContainer2 {
    width: 300px;
  }

  .mask1, .mask2 {
    position: relative;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
  }
  .mask1 {
    background-color: rgba(royalBlue, 0.2);
  }

  .mask2 {
    background-color: rgba(green, 0.4);
  }

  .ruler {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 200px;
      right: 1px;
      bottom: -30px;
      border-right: 1px dashed rgba(white, 0.2);
    }
  }
}