.container {
  display: inline-block;
  position: relative;
  --chapterMark-borderColor: var(--color-w8);

  &:hover {
    .textContainer {
      .flagStatue {
        background-color: var(--color-w9);
      }
    }

    .cornerStatue {
      background-color: var(--color-w9);
    }
  }

}

.normal {
  --chapterMark-color: var(--color-cobalt-dark);
}

.activated {
  --chapterMark-color: var(--color-leaves-dark);
}

.flagContainer {
  position: relative;
}

.flag {
  display: grid;
  grid-template-columns: auto 16px;
  grid-gap: 0;

  .textContainer {
    background-color: var(--chapterMark-color);

    position: relative;
    font-size: 12px;
    line-height: 1.5;
    padding: 6px 9px;
    border: 1px solid var(--chapterMark-borderColor);
    border-right: none;

    color: var(--color-w0);
    font-weight: bold;
    text-shadow: 1px 1px 0 var(--color-w6), -1px -1px 0 var(--color-b5);

    .flagStatue {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .corner {
    position: relative;

    .cornerBg {
      position: absolute;
      width: 100%;
      height: 100%;
      mask-image: url(media/triangle.svg);
      -webkit-mask-image: url(media/triangle.svg);
      background-color: var(--chapterMark-color);
    }

    .cornerBorder {
      position: absolute;
      width: 100%;
      height: 100%;
      mask-image: url(media/triangle-border.svg);
      -webkit-mask-image: url(media/triangle-border.svg);
      background-color: var(--chapterMark-borderColor);
    }

    .cornerStatue {
      position: absolute;
      width: 100%;
      height: 100%;
      mask-image: url(media/triangle.svg);
      -webkit-mask-image: url(media/triangle.svg);
    }
  }

}
