.articleCard {
  display: block;
  background-color: var(--bgColor-light);
  height: 100%;
  position: relative;

  .imageFrame {
    position: relative;
    padding-top: 100%;

    .cover {
      position: absolute; width: 100%; height: 100%; top: 0; left: 0;
      object-fit: cover;
    }

    .border {
      position: absolute; width: 100%; height: 100%; top: 0; left: 0;
      border: 1px solid var(--color-w8);
      border-bottom: none;
      border-right: 1px solid var(--color-b8);
    }
  }

  .figcaption {
    position: relative;
    padding: 0 24px;
    padding-top: 16px;
    padding-bottom: 32px;
    
    h3 {
      margin-bottom: 8px;
    }

    small {
      color: var(--textColor-neg-rgba);
    }
  }

  .border {
    position: absolute; width: 100%; height: 100%; top: 0; left: 0;
    border-top: 1px solid var(--color-w8);
    border-left: 1px solid var(--color-w8);
    border-right: 1px solid var(--color-b8);
    border-bottom: 1px solid var(--color-b8);
  }
}