$h1LightHeight: 64px;

header.heroHead {
  position: relative;
  overflow: hidden;

  // =========================================
  // *****************************************
  .aboutWhat {
    position: relative;
    height: $h1LightHeight;

    .aboutSomething {
      position: absolute;
      display: inline-block;

      $animationLength: 5s;
      $animationCount: 5;
      $animationDuration: $animationLength * $animationCount;
      $displacement: 0.25em;
      $animationGap: $animationLength;

      // animation starts from...
      transform: translate(0, -$displacement);
      opacity: 0;
      &:nth-of-type(1) {
        @keyframes heroHeadTextMotion {
          2% {
            transform: translate(0, 0);
            opacity: 1;
          }

          20% {
            transform: translate(0, 0);
            opacity: 1;
          }

          22% {
            transform: translate(0, $displacement);
            opacity: 0;
          }

          100% {
            transform: translate(0, -$displacement);
            opacity: 0;
          }
        }

        animation: heroHeadTextMotion $animationDuration infinite;
      }

      &:nth-of-type(2) {
        animation: heroHeadTextMotion $animationDuration infinite;
        animation-delay: $animationGap * 1;
      }

      &:nth-of-type(3) {
        animation: heroHeadTextMotion $animationDuration infinite;
        animation-delay: $animationGap * 2;
      }

      &:nth-of-type(4) {
        animation: heroHeadTextMotion $animationDuration infinite;
        animation-delay: $animationGap * 3;
      }

      &:nth-of-type(5) {
        animation: heroHeadTextMotion $animationDuration infinite;
        animation-delay: $animationGap * 4;
      }
    }
  }
  // *****************************************
  // =========================================

  .description {
    margin-bottom: 16px;

    p {
      font-size: 16px;
      line-height: calc(1em + 8px);
    }
  }

  .downloadButton {
    margin-bottom: 12px;
  }

  small {
    color: var(--color-leaves);
    font-size: 12px;
    line-height: calc(1em + 8px);
  }


  .heroHeadBg {
    height: 320px;
    width: 100%;
    mask-image: url("media/bgDecoWave.svg");
    -webkit-mask-image: url("media/bgDecoWave.svg");
    background-color: var(--color-leaves);

    position: absolute;
    z-index: -100;
    opacity: 0.24;
    top: 108px;
    left: 0;

    @keyframes heroHeadBgMove {
      0% {
        transform: translate(0, 0);
        background-color: var(--color-leaves);
      }

      100% {
        transform: translate(-1100px, 0);
        background-color: var(--color-cobalt);
      }
    }

    animation: heroHeadBgMove 90s linear infinite;
  }
}


.nyCatPreviewGallery {
  .previewGallery {
    position: relative;
    max-width: 1328px;
    // padding: 0 var(--pagePadding);
    margin: 0 auto;
    z-index: 1;
  
    margin-bottom: 40px;
  
    .board {
      width: 120%;
      padding-top: 62.5%;
    }
  
    .preview {
      position: absolute;
      width: 100%;
      top: 0;
      transform: translate(-50%, 0);
      
      z-index: 1;
  
      .imgFrame {
        img {
          box-shadow: 16px 0 0 var(--color-b6), -16px 0 0 var(--color-b6);
        }
      }
  
      &:nth-of-type(1) {
        left: 50%;
        opacity: 1;
        z-index: 1;
      }
  
      &:nth-of-type(2) {
        left: calc(50% - 64px);
        opacity: 0.64;
        z-index: 0;
  
        .imgFrame {
          img {
            transform: scale(0.95);
          }
        }
      }
  
      &:nth-of-type(3) {
        left: calc(50% + 64px);
        opacity: 0.64;
        z-index: 0;
  
        img {
          transform: scale(0.95);
        }
      }
    }
  }
  
  .galleryBg {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0;
    top: 48px;
    background-image: url(media/decoregion.png);
    background-size: contain;
  
    .timelineNumbers {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      overflow: hidden;
      margin-left: 4px;
      margin-top: 21px;
      
      .timelineIndex {
        flex: 0 0 120px;
        font-family: var(--font-mono);
        font-size: 10px;
        line-height: 20px;
        color: var(--textColor-neg-rgba);
      }
    }
  }
  
  .centered {
    position: relative;
    .centeredItem {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
  
    .slider {
      display: inline-block;
      background-color: var(--bgColor-light);
      padding: 4px;
      border-radius: 1000px;
      
      .items {
        display: flex;
  
        .item {
          margin-right: 4px;
  
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}




.tutorialPreview {
  .pageWide {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 var(--pagePadding);
  }
}