$border-radius: 4px;
$px: 15px;
$py: 7px;
$bg: var(--color-leaves-dark);
$button-height: 2px;

.root {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  // transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 2px;
  left: 0;
  right: 4px;
  width: calc(100% + 4px);
  height: 100%;
  border-radius: $border-radius;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  // transition:
  //   transform
  //   400ms
  //   cubic-bezier(.3, .7, .4, 1);
}

.front {
  display: block;
  position: relative;
  padding: $py $px;
  border-radius: $border-radius;
  font-size: 1rem;
  color: white;
  background: $bg;
  will-change: transform;
  border: 1px solid rgba(white, 0.08);
  overflow: hidden;
  transform: translateY(-$button-height);
  height: calc(100% - $button-height);
  // transition:
  //   transform
  //   600ms
  //   cubic-bezier(.3, .7, .4, 1);
}

.border {
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: rgba(black, 0.56);
  left: -1px;
  top: 1px;
  border-radius: 5px;
}

.bg {
  position: absolute;
  width: 100%;
  height: calc(100% - $button-height - 1px);
  top: calc($button-height + 1px);
  left: 0;
  border-radius: $border-radius;
  background-color: $bg;
}

.root:hover {
  filter: brightness(110%);
}

.root:active .front {
  transform: translateY(1px);
  // transition: transform 34ms;
}

.root:hover .shadow {
  transform: translateY(4px);
  // transition:
  //   transform
  //   250ms
  //   cubic-bezier(.3, .7, .4, 1.5);
}

.root:active .shadow {
  transform: translate(-1px, 2px);
  // transition: transform 34ms;
}

.root:active .edge {
  display: none;
}

.root:focus:not(:focus-visible) {
  outline: none;
}
