@import "preset/0-preset";

body {
  overflow-x: hidden;
}


.markdown {
  @import "markdown/0-markdown";
}


.statue {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  &:hover {
    background-color: var(--color-w9);
  }
}

hr {
  &.dashed {
    border-bottom: 1px dashed var(--color-w7);
  }

  &.onepixel {
    height: 1px;
  }
}


button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}


