.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar content";
}

.toc {
  grid-area: sidebar;
  height: 100%;
  overflow-y: scroll;
}

.content {
  grid-area: content;
  height: 100%;
  overflow-y: scroll;
}

.header {
  grid-area: header;
  background-color: #f3f3f3;
}
